* {
    //outline: grey 1px solid;
}

body {
    font-family: 'Sen', sans-serif;
    overflow-x: hidden
}

ul {
    margin: 0rem;
}

h2 {
    margin: 0rem;
}


/*
Background:
HEX: #245D7E
   RGB: rgb(36,93,126)
*/
/*
text:
HEX: #F8BB71
RGB: rgb(248,187,113)
 */



.navbarItemText {
    font-size: 24px;
    margin-right: 10px;
    font-weight: bolder;
}




.slider {
    margin-top: 80px;
    height: 800px;

    background-image: linear-gradient(110deg, #F8BB71 60%, #245D7E 60%);
    border-bottom: black 5px solid;
}

#navbarNameLogo {
    font-size: 36px;
    font-weight: 800;
}

#contactItem {
    background-color: #245D7E;
    color: #F8BB71;
    margin: auto 10px;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 24px;
    font-weight: 800;
}

#contactItem:hover {
    background-color: darkslategray;
}

.sliderIcons {
    position: absolute;
    right: 1%;
    top: 3%;
}
.sliderIcons a {
    display: block;
}

.sliderIcons a:hover {
    border-radius: 15px;
    background-color: darkslategray;
}

#imageSlider {
    height: 100%;
    width: 100%;
    background-image: url('source/statue1000x1440.png');
    background-repeat: no-repeat;
    background-size: 35rem ; /* 570px */
    background-position-x: 70%;  /* 570px */
    position: relative;
}


.slider-text {
    margin-left: 6%;
    height: 600px;
    width: 42%;
    min-width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-text p {
    display: block;
}


.slider-text h2:nth-child(1) {
    font-size: 4.5rem; /*70px*/
    font-weight: 800;
}

.slider-text h1:nth-child(2) {
    font-size: 2rem;  /* 30px */
    font-weight: 800;
}

.slider-text p:nth-child(3) {
    font-size: 2rem; /* 32px */
    font-weight: 700;
}


.separatorExperience{
    position: absolute;
    display: block;
    text-align: center;
    width: 50%;
    background-color:  #245D7E;
    font-size: 70px;
    color: #F8BB71;
    padding: 15px 0px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    text-transform: uppercase;
    right: 25%;
    top: -60px;
    border: black 4px solid;
}

.paraSection {
    position: relative;
}

.flex-parent {
    margin: 200px 50px 0px 50px;
}

.separator  {
    height: 150px;
}

#sectionAboutMeImage {
    border-radius: 25px;
    width: 450px;
}

.sectionAboutMeDesc p:nth-child(1) {
    font-size: 26px;
}

.sectionAboutMeDesc p:nth-child(2) {
    font-size: 26px;
}

.sectionAboutMeDesc ul li {
    font-size: 27px;
    font-weight: bold;
}

#sectionAboutMeKnowMore {
    margin: 30px auto;
    width: 60%;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.btn-myStyle {
    font-weight: bold;
    color: #F8BB71;
    background-color: #245D7E;
    width: 220px;
    display: block;
    margin: 10px auto;
    text-decoration: none;
}

.iconsProjectGitHub {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
}

.text-decoration-off {
    text-decoration: none;
}

.btn-myStyle:hover {
    color: #F8BB71;
    background-color: darkslategray;
}

.btn-myStyle img {
    width: 35px;
}

.h2Titles {
    text-align: center;
    color: #F8BB71;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.sectionSkillsDesc {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    width: 70%;
    margin: 10px auto;
}

.progress-bar-myStyle {
    color: white;
    font-weight: bold;
    background-color: #245D7E;
}

.progress-bar-desc {
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 20px;
}

.progressWrapper {
    margin: 15px 15px;
}

.sectionSkillsListItem li {
    font-size: 24px;
}



                    /* PROJECT1 SECTION ENDS HERE */

.sectionProjectWrapper {
    margin: 4rem 10%;
}

.sectionProjectImageWrapper1 img{
    width: 100%;
    border: #245D7E 1px solid;
    border-radius: 20px 0px 0px 20px;
}

.sectionProjectImageWrapper2 img{
    width: 100%;
    border: #245D7E 1px solid;
    border-radius: 0px 20px 20px 0px;
}

.sectionProjectTextWrapper1 {
    color: white;
}

.sectionProjectTextWrapper2 {
    color: white;
    text-align: right;
}

.sectionProjectTextWrapper1 p, .sectionProjectTextWrapper2 p{
    font-weight: 600;
    background-color: #245D7E;
    padding: 1rem;
    position: relative;
    border-radius: 20px 20px 20px 20px ;
    color: #F8BB71;
}

.positionText1 {
    left: -2rem;
}

.positionText2 {
    right: -2rem;
}

.sectionProjectTextWrapper1 h2, .sectionProjectTextWrapper2 h2{
    font-weight: 800;
    font-size: 1.8rem;
    color: black;
    padding: 1rem;
}

.sectionProjectDescWrapper1 ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.sectionProjectDescWrapper2 ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.sectionProjectUL1 {
    margin-top: 0px;
    padding: 1rem;
    border-radius: 0px 0px 20px 0px;
}
.sectionProjectUL2 {
    margin-top: 0px;
    padding: 1rem;
    border-radius: 0px 0px 0px 20px;
    text-align: right;
}

.margins {
    padding: 0rem;
    margin: auto 0px;
}

                    /* PROJECT2 SECTION STARTS HERE */


.sectionContactMe {
    margin-top: 8rem;
    height: 450px;
    background-color: #245D7E;
}

.sectionContactMe h2{
    color: #F8BB71;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px;
    text-transform: uppercase;
}

.sectionContactMeForms {
    border-radius: 10px;
}

.sectionContactMeLabels {
    font-size: 26px;
    margin: 8px 0px 3px 0px;
    color: #F8BB71;
    font-weight: bold;
}

.sectionContactMeButton {
    background-color: limegreen;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
}

.sectionContactMeMessage {
    border-radius: 10px;
    margin-bottom: 10px;
    max-height: 160px;
}

.sectionContactMeFormulars {
    max-width: 600px;
    margin: 0px auto;
}

.video1 {
    background-image: url('source/auroraProjectWebsite.png');
    background-size: 100% 100%;
    border: #245D7E 1px solid;
    border-radius: 20px 0px 0px 20px;
    object-fit: contain;
}

.thevideo1 {
    height: 100%;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

.video2 {
    background-image: url('source/pickGameProject.png');
    background-size: 100% 100%;
    border: #245D7E 1px solid;
    border-radius: 0px 20px 20px 0px;
    object-fit: contain;
}

.thevideo2 {
    height: 100%;
    width: 100%;
    border-radius: 0px 20px 20px 0px;
}




                                /*  MEDIA QUERIES  */


/* XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
    #sectionAboutMeImage {
        width: 350px;
    }

    .sectionAboutMeDesc p:nth-child(1) {
        font-size: 22px;
    }
    .sectionAboutMeDesc p:nth-child(2) {
        font-size: 22px;
    }

    .sectionAboutMeDesc ul li {
        font-size: 24px;
    }
     /* NEW SECTION */


}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

    .separator {
        height: 80px;
    }

    .slider-text h1:nth-child(2) {
        font-size: 1.7rem;
    }

    .slider-text p:nth-child(3) {
        font-size: 2rem; /* 32px */
    }

    .slider-text h2:nth-child(1) {
        font-size: 3.2rem; /*70px*/
    }

    #imageSlider {
        background-size: 25rem; /* 570px, 35rem */
        background-position-x: 70%;  /* 570px */
        background-position-y: 85%;  /* 570px */

    }

    .slider {
        height: 40rem;
    }

    .separatorExperience{
        font-size: calc(1.5rem + 3vw);
        padding: 1% 0px;
        top: -30px;
    }
    #sectionAboutMeImage {
        margin: 0px 25%;
        margin-bottom: 4%;
    }

    .sectionProjectWrapper {
        margin: 4rem 5%;
    }

    .sectionProjectTextWrapper1 h2, .sectionProjectTextWrapper2 h2{
        font-size: 1.4rem;
    }

    .sectionContactMe {
        height: 40rem;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

    .collapse-items-MyStyle {
        margin: 0.2rem 2rem;
    }

    #contactItem {
        background-color: #f8f9fa;
        color: #F8BB71;
        margin: 0rem;
        border-radius: 6px;
        padding: 0.3rem 0px;
    }

    #contactItem:hover {
        background-color: #f8f9fa;
        color: #245D7E;
    }

    .slider-text h1:nth-child(2) {
        font-size: 1.5rem;
    }

    .slider-text p:nth-child(3) {
        font-size: 1.7rem; /* 32px */
    }

    .slider-text h2:nth-child(1) {
        font-size: 3.0rem; /*70px*/
    }

    .slider-text {
        height: 400px;
    }

    #sectionAboutMeImage {
        margin: 0px 17%;
        margin-bottom: 4%;
    }

    #sectionAboutMeKnowMore {
        width: 80%;
        font-size: 22px;
    }

    .h2Titles {
        font-size: 2.8rem;
        margin-bottom: 20px;
    }

    .sectionProjectWrapper {
        margin: 3.3rem 10%;
    }

    .sectionProjectTextWrapper1 p{
        position: static;
        text-align: center;
        border-radius: 0px 0px 20px 20px;
    }

    .sectionProjectTextWrapper2 p{
        position: static;
        text-align: center;
        border-radius: 20px 20px 0px 0px ;
    }

    .sectionProjectTextWrapper1 h2{
        font-size: 1.8rem;
        text-align: center;
        background-color: #F8BB71;
    }

    .sectionProjectTextWrapper2 h2{
        font-size: 1.8rem;
        text-align: center;
    }

    .sectionProjectUL1 {
        padding: 0.8rem 0rem;
        border-radius: 0px 0px 0px 0px;
        text-align: center;
    }

    .sectionProjectUL2 {
        border-radius: 0px 0px 0px 0px;
        text-align: center;
        background-color: #F8BB71;
    }

    .sectionProjectImageWrapper1 img{
        border-radius: 20px 20px 0px 0px;
    }

    .sectionProjectImageWrapper2 img{
        border-radius: 0px 0px 20px 20px;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

    .slider-text h2:nth-child(1) {
        font-size: calc(1.1rem + 3vw);
        margin-bottom: 1rem;
    }

    .slider-text h1:nth-child(2) {
        font-size: calc(0.5rem + 3.2vw);
    }

    .slider-text p:nth-child(3) {
        font-size: calc(0.5rem + 2.5vw);
    }
    .slider {
        height: 35rem;
    }

    .slider {
        background-image: linear-gradient(90deg, #F8BB71 60%, #245D7E 60%);
    }

    #imageSlider {
        background-size: 18rem;
    }

    .sectionAboutMeDesc p:nth-child(1) {
        font-size: 18px;
    }

    .sectionAboutMeDesc p:nth-child(2) {
        font-size: 18px;
    }

    .sectionAboutMeDesc ul li {
        font-size: 20px;
    }

    #sectionAboutMeImage {
        width: 18rem;
        margin: 0px 17%;
        margin-bottom: 4%;
    }

    .h2Titles {
        font-size: calc(1.1rem + 3.5vw);
        margin-bottom: 20px;
    }

    .sectionSkillsDesc {
        font-size: calc(0.5rem + 3.5vw);
    }

    .sectionSkillsListItem li {
        font-size: 18px;
    }

    .sectionContactMeFormulars {
        width: 90%;
    }
}






